.title{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(2, 36, 2);
    background-color: rgb(108, 245, 194);
    font-family: sans-serif;
    border-radius: 7px;
    padding: 10px 0px;
}
